
app-enemigo-detail{
  display: flex;
}
app-enemigo-detail, .example-card {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }
  
  app-enemigo-detail, .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  app-enemigo-detail, .imagen-principal{
    width: 300px;
    height: 250px;
  }
  .spinner{
    margin-top: 80px;
  }
  